<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/styru.css" type="text/css" />
    <title>Not seacret</title>
</head>
<body>
    <a href='/'>Home</a>

    <h2>Register here:</h2>

    <form action="/doregister" method="post">
        <label for="uname">User name:</label><br />
        <input type="text" id="uname" name="uname" /> <br />
        <label for="pword">Password:</label><br />
        <input type="password" id="pword" name="pword" /><br /><br />
        <input type="submit" value="Register" />
    </form><br /><br /><br />

</body>
</html>